body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 90%;
}
.description{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: black;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}