body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.name{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
}
.half img{
    width: 90%;
    margin-top: 10px;
    
}
.description{
    text-align: justify;
    padding-right: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: black;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
}
.third-section{
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    
    box-shadow: 10px 10px 40px gray;
}
#j-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#fs-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}